{% extends "main/base.html" %}
{% block header %}
    <header>
        <h1>Create task</h1>
    </header>

{% endblock %}
{% block main %}

    <div class="container">
        <div class="row">
            <div class="card mb-4  mt-3">
                <div class="card-body">
                    <form method="post">{% csrf_token %}
                        <p>Are you sure you want to delete "{{ object }}"?</p>
                        {{ form }}
                        <button type="submit" class="btn btn-primary" value="Confirm">Confirm</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}
    <footer>
        <h2>Footer</h2>
    </footer>

{% endblock %}