{% extends 'main/base.html' %}

{% block header %}
    <header>
        <h1>{{ todo.title }}</h1>
    </header>

{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="card mb-4  mt-3">
                <div class="card-body">
                    <p><b>Important: </b>{{ todo.important }}</p>
                    <p><b>Slug: </b>{{ todo.slug }}</p>
                    <p><b>Category: </b>{{ todo.category }}</p>
                    <p><b>Description: </b>{{ todo.description }}</p>
                    <p><b>Deadline: </b>{{ todo.deadline }}</p>
                    <p><b>Date creation: </b>{{ todo.date_creation }}</p>
                    <p><a href="{% url 'update' todo.slug %}" class="btn btn-primary">Edit</a></p>
                    <p><a href="{% url 'list' %}" class="btn btn-primary">Back</a></p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}
    <footer>
        <h2>Footer</h2>
    </footer>

{% endblock %}