{% extends "main/base.html" %}
{% block header %}
    <header>
        <h1>{{ todo.title }}</h1>
    </header>

{% endblock %}
{% block main %}
    <div class="container">
        <div class="row">
            <div class="card mb-4  mt-3">
                <div class="card-body">
                    <form method="post">{% csrf_token %}
                        <p>Are you sure you want to delete "{{ object }}"?</p>
                        {{ form }}
                        <input type="submit" value="Confirm">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <footer>
        <h2>Footer</h2>
    </footer>

{% endblock %}